# Virtual environment
venv/
env/
.venv/

# Environment variables (секреты!)
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Database
db.sqlite3

# Django
*.log
media/

# IDE
.vscode/
.idea/
.DS_Store

# Celery
celerybeat-schedule
celerybeat.pid
